:root{
  --color-primary: #6974AD;
  --color-secondary: #AD6974;
  --color-warning: #BC2323;
  --color-blue: #2A3ACB;
  --color-north-star-blue: #202B98;
  --color-midnight-blue: #151D66;
  --color-black: #000000;
  --color-great-grape: #6D6E85;
  --color-ash-tree-bark: #CECFD6;
  --color-purple-crystal: #E7E7EB;
  --color-salmon-rose: #FF8F8F;
  --color-white: #FFF;
  --color-black: #000;
  --background: #CECECE;
}
